<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>国内折扣商品</title>
  <script src="lib/lib-flexible/flexible.js"></script>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>

<!--部分分页公共头部-->
<div class="m_header">
  <div class="leftarrow fl">
    <a href="#"><img src="images/icback.svg" alt=""></a>
  </div>
  <h4>国内折扣</h4>
  <div class="download fr">
    <a href="#"><img src="images/header_app.png" alt=""></a>
  </div>
</div>

<!--商品信息详情-->
<div class="inlanddetailbox">
  
  <!--模版引擎-->

</div>

<script type="text/html" id="inlanddetailTpl">
  {{ if result }}
  {{ each result v i }}
  <h3>{{ v.productName }}</h3>
  <p class="price"> {{ v.productPrice }}</p>
  <div class="infos">
    <span> {{ v.productFrom }}</span>
    <span> {{ v.productTime }}</span>
    <span> {{ v.productTips }}</span>
  </div>
  
  <div class="prowords clearfix">
    <div class="smallpic fr">{{# v.productImg }}</div>
    <div class="morewords">{{ v.productInfo }}</div>
    <div class="largepic">{{# v.productImg }}</div>
  </div>
  
  {{ if v.productCity }}
  <div class="city">
    {{# v.productCity }}
  </div>
  {{ /if }}
  <div class="gobuy">
    <a href="#">前往购买</a>
  </div>
  
  <div class="hugeimg">
    <img src="images/mmbweixin2.png" alt="">
  </div>
  
  <div class="comment">
    {{# v.productComment }}
  </div>
  
  {{ /each }}
  {{ /if }}
</script>




<!--底部-->
<div class="footer">
  <div class="user clearfix">
    <a href="#">登录</a>
    <a href="#">注册</a>
    <a href="#" class="returnTop fr"><img src="images/top.jpg" alt="">返回顶部</a>
  </div>
  <div class="mlink">
    <p class="clearfix">
      <a href="#">手机APP下载</a>
      <a href="#">慢慢买手机版</a>
      <a href="#">--掌上比价平台</a>
    </p>
    <p><a href="#">m.manmanbuy.com</a></p>
  </div>
</div>

<script src="lib/jquery/jquery-1.12.4.js"></script>
<script src="lib/artTemplate/template-web.js"></script>
<script src="js/common.js"></script>
<script src="js/inlanddetail.js"></script>
</body>
</html>